.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imagem {
  width: 500px;
  height: 500px;
  background-color: azure;
  
}

img {
  object-fit: contain;
  width: 500px;
  height: 500px;
}

p {
  font-size: 35px;
}

button {
  border: none;
  height: 30px;
  width: 200px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: black;
  color: white;
}

button:hover {
  background-color: rgb(56, 55, 55);
}
